<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>@ViewData["Title"]</title>
    <meta name="description" content="" />
</head>

<body class="">
    <div class="wrapper">

        <header>
            
        </header>

        <div class="message">
            @RenderBody()
        </div>
    </div>

    <footer>
        
    </footer>

    <script src="js/set-background.js"></script>
</body>

</html>